<div class="container">
  <div class="top-right back">
    <button routerLink="../" mat-stroked-button color="primary">Back</button>
  </div>
    <legend>Add A New Task</legend>
    <mat-form-field>
      <mat-label>Task title</mat-label>
      <input matInput
        type="text"
        [(ngModel)]="taskForm.title"
        #txtTaskTitle>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput
        type="text"
        [(ngModel)]="taskForm.description"
        #txtDescription></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <input matInput
        type="number"
        min="1"
        max="5"
        [(ngModel)]="taskForm.priority"
        #txtPriority>
    </mat-form-field>
    <button type="button" mat-raised-button color="primary" (click)="save()">Create</button>
  </div>