<div class="container">
    <legend>Add A New Task</legend>
    <div class="mb-3">
      <label for="txtTaskTitle" class="form-label">Task title</label>
      <input
        type="text"
        [(ngModel)]="taskForm.title"
        class="form-control"
        id="txtTaskTitle"
      />
    </div>
    <div class="mb-3">
      <label for="txtDescription" class="form-label">Description</label>
      <input
        type="text"
        [(ngModel)]="taskForm.description"
        class="form-control"
        id="txtDescription"
      />
    </div>
    <div class="mb-3">
      <label for="txtCost" class="form-label">Priority</label>
      <input
        type="number"
        [(ngModel)]="taskForm.priority"
        class="form-control"
        id="txtPriority"
      />
    </div>
    <button type="button" class="btn btn-dark" (click)="save()">Create</button>
  </div>