<div class="container">
    <button routerLink="/" class="top-right home" mat-fab color="primary" aria-label="Fronpage">
        <mat-icon>home</mat-icon>
      </button>
    <div class="login-info">
        <h3>Username and Password</h3>
        <h6>Admin -> admin:admin<br>
          User -> john:john123<br>
          User -> test:test123</h6>
    </div>
    <div class="form-fields">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" #username placeholder="Username">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" #password placeholder="Password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login(username.value, password.value)">Login</button>
    <div *ngIf="loginError$">Wrong username or password</div>
    </div>
</div>