<div class="container">
    <div class="row">
      <div class="col col-md-4 offset-md-4">
        <a mat-raised-button color="primary" matTooltip="Link" routerLink="./add">Add A New Task</a>
      </div>
      <div class="top-right logout">
        <button mat-stroked-button color="primary" (click)="logout()" >Logout</button>
      </div>
    </div>
    <div *ngIf="tasks$ | async as tasks">
      There are {{tasks.length}} tasks
    </div>
    <mat-divider></mat-divider>
      <div *ngFor="let task of tasks$ | async">
        <mat-card class="full-width">
          <mat-card-header>
            <mat-card-title>{{ task.title }}</mat-card-title>
            <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions *ngIf="isAdmin" class="align-right">
            <a mat-raised-button matTooltip="Link" [routerLink]="['./edit', task.id]">Edit</a>
            <!-- <button mat-raised-button color="warn" (click)="openDeleteModal(task.id)">Delete</button> -->
            <button mat-raised-button color="warn" (click)="openDialog('0ms', '0ms');storeID(task.id)">Delete</button>
          </mat-card-actions>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <p class="text-left">Task priority: {{task.priority}}</p>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>
      </div>
    </div>
  
  
  <!-- Modal -->
  <!-- <div id="deleteModal" style="display: none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          Are sure to delete this item?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div> -->