<div class="container">
    <div class="row">
      <div class="col col-md-4 offset-md-4">
        <a mat-mini-fab matTooltip="Link" routerLink="./add">Add A New Task</a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let task of tasks$ | async">
        <!-- <div class="card">
           <img src="/assets/task.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ task.description }}</li>
            <li class="list-group-item">${{ task.priority }}</li>
          </ul>
          <div class="card-body">
            <a [routerLink]="['/edit', task.id]" class="btn btn-dark"
              >Edit task</a
            >
            <button class="btn btn-dark" (click)="openDeleteModal(task.id)">
              Delete
            </button>
          </div>
        </div> -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ task.title }}</mat-card-title>
            <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <a mat-mini-fab matTooltip="Link" [routerLink]="['./edit', task.id]">Edit</a>
            <button mat-button (click)="openDeleteModal(task.id)">Delete</button>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>

      </div>
    </div>
  </div>
  
  
  <!-- Modal -->
  <div id="deleteModal" style="display: none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          Are sure to delete this item?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div>