.full-width {
    width: 560px;
}

.top-right {
    position: fixed;
    top: 20px;
    right: 40px;
}

.text-left {
    text-align: left;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}