<div class="container">
  <div class="top-right back">
    <button routerLink="../../" mat-stroked-button color="primary">Back</button>
  </div>
    <h2>Update task</h2>
    <div class="form-fields">
      <mat-form-field>
        <mat-label>Task Title</mat-label>
        <input matInput 
        type="text"
        [(ngModel)]="taskForm.title"
        #txtTaskTitle>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput 
        [(ngModel)]="taskForm.description"
        #txtDescription> </textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Priority</mat-label>
        <input matInput 
        type="number"
        [(ngModel)]="taskForm.priority"
        #txtPriority>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="button" (click)="update()">Update</button>
  </div>